+++
title = "AzurAPI"
linkTitle = "AzurAPI"

+++

{{< blocks/cover title="Welcome to AzurAPI" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Azur Lane Local/RESTful Hybrid Based API</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
AzurAPI is a Project for developers by developers who wanted to provide who wanted to make a free database accessable to everyone for fetching any kind of data from <a href="https://azurlane.koumakan.jp/Azur_Lane_Wiki" style="color:red">Azur Lane wiki</a>.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New API Methods Coming" %}}
Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/AzurAPI" %}}
Feel Free to make your own pull request in any of the repositories that we developed
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Join Us on Discord" url="http://discord.gg/aAEdys8" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
